<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Hello this is index</title>

    <!--<link rel="stylesheet" th:href="@{/static/jquery.dynatable.css}"/>-->

    <script th:src="@{/static/jquery-2.1.1.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/sockjs-0.3.4.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/stomp.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/jquery.dynatable.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/index.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <h1>Market Trade Processor</h1>
    <h2>Runtime loading statistics (updates dynamically):</h2>

    <h3 id="iops_container">IOPS: 0</h3>
    <h3 id="total_transactions">Total transactions: 0</h3>

    <h2>Last 100 trade messages (updates dynamically)</h2>
    <table id="last-messages-container">
        <thead>
            <th data-dynatable-column="userId" data-dynatable-no-sort="true">User Id</th>
            <th data-dynatable-column="currencyFrom" data-dynatable-no-sort="true">Currency from</th>
            <th data-dynatable-column="currencyTo" data-dynatable-no-sort="true">Currency to</th>
            <th data-dynatable-column="amountSell" data-dynatable-no-sort="true">Amount sell</th>
            <th data-dynatable-column="amountBuy" data-dynatable-no-sort="true">Amount buy</th>
            <th data-dynatable-column="rate" data-dynatable-no-sort="true">Rate</th>
            <th data-dynatable-column="timePlaced" data-dynatable-no-sort="true">Time placed</th>
            <th data-dynatable-column="originatingCountry" data-dynatable-no-sort="true">Country</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>